# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_DB=cloud_sre
POSTGRES_USER=leanhduc
POSTGRES_PASSWORD=anhdc2005

# Message Broker
RABBIT_URL=amqp://leanhduc2005:leanhduc2005_rabbit@localhost:5672/

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
JWT_SECRET_KEY=anhducjwt
ALGORITHM=HS256

# Service URLs (Local development with Docker or direct)
USER_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3003
PRODUCT_SERVICE_URL=http://localhost:3006
ORDER_SERVICE_URL=http://localhost:3002
CART_SERVICE_URL=http://localhost:3005
