global
    maxconn 4096
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend http_in
    bind *:80
    default_backend api_gateway

backend api_gateway
    balance leastconn
    server gw1 nginx-gateway:80 check
